/* Write your code here: */
h1, h2 {
    color: purple;
}

div > p {
    color: firebrick;
}

/* div ul {
    color: blue;
} */

/* div > ul {
    color:blue;
} */

/* div[class="box"] ul[class="list"] {
    color: blue;
} */

.box li {
    color: blue;
}

li.done {
    color: green;
}

ul p.done {
    font-size: 0.5rem;
}

/* body>ul>p.done {
    font-size: 0.5rem; More specific
} */